* {
    margin: 0;
}

/* 1st Section */

.header {
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 20px;
}

.menus {
    display: flex;
    list-style: none;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    padding: 20px;
}


.article {
    font-size: 50px;
    text-align: center;
}

.paragraph {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.first-button {
    background-color: coral;
    color: rgb(248, 245, 244);
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    margin-left: 45%;
    /* text-align: center; */

}

.banner {
    margin-top: 20px;
    text-align: center;
}


/* 2nd Section */

.second-section {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.second-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
}

.teams {
    padding: 10px;
}



.second-right {
    margin-top: 160px;
}

.second-button {
    background-color: coral;
    color: rgb(248, 245, 244);
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    text-align: center;
}




.vl {
    border-left: 4px solid rgb(233, 94, 52);
    height: 60px;
    margin-top: 30px;
    margin-right: 20px;
}


/* 3rd Section */

.third-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.third-title {
    display: flex;
}



.boxes {
    margin-top: 50px;
}


.box {
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px rgb(232, 238, 238);
    margin: 20px;
}



.year-section {
    /* margin: auto; */
    margin-left: 1000px;
    width: 60px;
    padding: 10px 60px;
    background-color: rgb(198, 71, 25);
    margin-top: -100px;
    color: white;
    position: absolute;
    z-index: 1;

}